---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---


<DefaultLayout title="Register">
    <div class="container grid grid-cols-1 sm:grid-cols-4 gap-4">
          <!-- 1/4 Width Column -->
          <div class="col-span-1 bg-gray-300 p-4">
            <img src=""/>
            <h1 class="section-title">Click here to see 
              Successful participant and 
              winner’s list.</h1>
            
        
        </div>
        <!-- 3/4 Width Column -->
        <div class="col-span-3 p-4">
            
            <h1 class="section-title">Evaluation of animation</h1>
            <ul class="list-disc leading-relaxed">
            <li>A team can select any one of the subjects listed in the theme of the hackathon &ldquo;Celebrating India&rsquo;s Innovation&rdquo;.</li>
            <li>The participants are free to interpret the stories according to the current situations happening across the world.</li>
            <li>Submitted animation will go through the Technical judgment panel and eligible animation will go through the next Creative judgment panel.</li>
            <li>Final score of selected animation declared as winner and selected for awards.</li>
            <li>All the animator&rsquo;s submissions who passed the Technical Judgment will get a Completion certificate for the hackathon.</li>
            </ul>
            <p>&nbsp;</p>
            <h1 class="section-title">Rejection Criteria:</h1>
            
            <ul class="list-disc">
            <li>Using proprietary software to create the animation.</li>
            <li>Partial submission of files mentioned in the Submission checklist.</li>
            <li>Any form of plagiarism.</li>
            <li>Narration in any language other than the scheduled 22 Indian languages.</li>
            <li>Content depicting violence/abuse/improper use of illustration/nudity &amp; sexuality/hate towards any specific religion.</li>
            </ul>
          
        </div>
      
      
      </div>
    
</DefaultLayout>
