---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---


<DefaultLayout title="Register">
    <div class="container py-3 my-3 grid grid-cols-1 sm:grid-cols-4 gap-4">
          <!-- 1/4 Width Column -->
          <div class="items-center  justify-center col-span-1 bg-gray-300 p-4" style="text-align: center;">
            <img src=""/>
            <h1 class="section-title">Register</h1><br />
            <div>Scan QR code for registration or 
            click on  - I like to participate - Link of Google form
          </div>
        <!-- <imsrc qr code -->
        </div>
        <!-- 3/4 Width Column -->
        <div class="col-span-3 p-4">
            
                <h1 class="section-title">Read before registration
                </h1>
                <ul style="list-style: circle;">
                    <li>Participate as an individual or as a team (max. 4 members).</li>
                    <li>The team lead will be only one point of contact with the organizers.</li>
                    <li>The same person can not participate in more than one team.</li>
                    <li>Ideally, a team can consist of individuals like: Synfig Studio user / animator / graphic designer / story narrator / video editor / etc.</li>
                    <li class="text-red-500">If a person is found participating in more than one team, both the teams will be disqualified from the Hackathon.</li>
                    <li class="text-red-500">If any participant/ team is found to be indulging in any form of malpractice, the team will be immediately disqualified.</li>
                    <li>Use ONLY open source software for creating animations.</li>
                    <li class="text-red-500">You are not allowed to use any proprietary software in your animation in any aspect. If found you and your team will be disqualified.</li>
                    </ul>
          
          
        </div>
      
      
      </div>
    
</DefaultLayout>