---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---


<DefaultLayout title="Submission">
    <div class="container py-3 grid grid-cols-1 sm:grid-cols-4 gap-4">
          <!-- 1/4 Width Column -->
          <div class="col-span-1 bg-gray-300 p-4">
            <img src=""/>
            <h1 class="section-title">Exciting prizes for Animation, Storytelling, and Innovation categories with e-Certificates 
                to the selected team.
                 </h1>
    
        
        </div>
        <!-- 3/4 Width Column -->
        <div class="col-span-3 p-4">
            
                <h1 class="section-title">Animation
                </h1>
                <ul style="list-style: circle;">
                    
                    <li>1st Winner Prize:&nbsp;</li>
                </ul>
                <p>&nbsp;</p>
                <ul>
                <li>2nd Winner Prize:</li>
                </ul>
                <p>&nbsp;</p>
                <ul>
                <li>3rd Winner Prize:&nbsp;</li>
                </ul>
                <p>&nbsp;</p>
                <ul>
                <li>Consolation Prize:</li>
                </ul>
                <p>&nbsp;</p>
                <ul>
                <li>Special Prize Winner:</li>
                        </ul>
                        <h1 class="section-title">Storytelling / Scripting

                        </h1>
                        <ul style="list-style: circle;">
                            
                            <li>1st Winner Prize:&nbsp;</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                        <li>2nd Winner Prize:</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                        <li>3rd Winner Prize:&nbsp;</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                        <li>Consolation Prize:</li>
                        </ul>
                        <p>&nbsp;</p>
                        <ul>
                        <li>Special Prize Winner:</li>
                            </ul>
                            <h1 class="section-title">Innovation Idea
                            </h1>
                            <ul style="list-style: circle;">
                                
                               
                                <li>1st Winner Prize:&nbsp;</li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                            <li>2nd Winner Prize:</li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                            <li>3rd Winner Prize:&nbsp;</li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                            <li>Consolation Prize:</li>
                            </ul>
                            <p>&nbsp;</p>
                            <ul>
                            <li>Special Prize Winner:</li>
                                      </ul>
          
        </div>
      
      
      </div>
      
</DefaultLayout>