---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---


<DefaultLayout title="Submission">
    <div class="container grid grid-cols-1 sm:grid-cols-4 gap-4">
          <!-- 1/4 Width Column -->
          <div class="col-span-1 bg-gray-300 p-4">
            <img src=""/>
            <h1 class="section-title">Register</h1>
            Scan QR code for registration or 
            click on  - I like to participate - Link of Google form
        
        </div>
        <!-- 3/4 Width Column -->
        <div class="col-span-3 p-4">
            
                <h1 class="section-title">Read before registration
                </h1>
                <ul style="list-style: circle;">
                    
                        <li>After confirming your participation in the Hackathon, the login credentials will be generated and sent to you on the registered email ID.</li>
                        <li>The participants have to submit animation at <a href="https://courses.fossee.in" target="_blank">https://courses.fossee.in.</a></li>
                        </ul>
                        <h1 class="section-title">Read before registration
                        </h1>
                        <ul style="list-style: circle;">
                            
                            <li>Software for creating the animation - Synfig Studio</li>
                            <li>Animation duration - 3 minutes or less</li>
                            <li>Render Setting Quality at 8</li>
                            <li>Resolution - 720 x 480 px</li>
                            <li>Frame rate - 24 fps</li>
                            </ul>
                            <h1 class="section-title">Preparation for submission:
                            </h1>
                            <ul style="list-style: circle;">
                                
                               
                                    <li>Create a folder with the name of your Team-ID.</li>
                                    <li>The folder should consist of the following files:</li>
                                    <ul style="list-style: square;">
                                    <li>Source files generated in Synfig Studio - .sifz/.sif</li>
                                    <li>The video output (Avi/Mov/Fla/Ogg/Mp4)</li>
                                    <li>Source files of artwork, illustrations, images, <br />editing files, fonts etc.</li>
                                    </ul>
                                    <li>Compress the folder and upload in zip format only.</li>
                                    <li>The last date of submission is 15 May 2024 till midnight. The participants can modify their submission anytime within this deadline.</li>
                                    </ul>
          
          
        </div>
      
      
      </div>
      
</DefaultLayout>