---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---


<DefaultLayout title="Submission">
    <div class="container grid grid-cols-1 sm:grid-cols-4 gap-4">
          <!-- 1/4 Width Column -->
          <div class="col-span-1 bg-gray-300 p-4">
            <img src=""/>
            <h1 class="section-title">Theme Celebrating India's Innovation</h1>
           
        
        </div>
        <!-- 3/4 Width Column -->
        <div class="col-span-3 p-4">
            
                <h1 class="section-title">Theme of Hackathon - 2024


                </h1>
                <ul style="list-style: circle;">
                    
                        <li>Participants can choose any subject according to their choice and create animation which can be present under the category of “Celebrating India's Innovation”

                        </li>
                        <!-- <li>The participants have to submit animation at <a href="https://courses.fossee.in" target="_blank">https://courses.fossee.in.</a></li> -->
                        </ul>
                        <h1 class="section-title">Science:
                        </h1>
                        <ul style="list-style: circle;">
                            
                            <li>TBD</li>
                            
                            </ul>
                            <h1 class="section-title">Science:
                            </h1>
                            <ul style="list-style: circle;">
                                
                                <li>TBD</li>
                                
                                </ul>
                                <h1 class="section-title">Agriculture:
                                </h1>
                                <ul style="list-style: circle;">
                                    
                                    <li>TBD</li>
                                    
                                    </ul>
                                    <h1 class="section-title">Water pollution
                                    </h1>
                                    <ul style="list-style: circle;">
                                        
                                        <li>TBD</li>
                                        
                                        </ul>
              
          
          
        </div>
      
      
      </div>
      
</DefaultLayout>