---
import { Icon } from 'astro-icon/components'

// const { src = '/astronaut-hero-img.webp' } = Astro.props
const { src = 'https://hackathon.fossee.in/cfd/static/cms/uploads/images/left-img.png' } = Astro.props
---
<!-------------#front section------------- -->
<section class="hero my-8">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <div class="text-center text-2xl md:text-left lg:text-2xl">
          <slot> An initiative of the FOSSEE Project, IIT Bombay in association with  ......</slot>
        </div>
        <div class="flex items-center justify-center">

          <img src="/src/assets/img/synfig.png" alt="img" width="75%" >
        </div>
        <!-- <span class="text-gradient">CFD Hackathon</span> -->
        <div class="flex items-center justify-center flex-col gap-3 min-[500px]:flex-row">
          <div class="dates">
            <p class="important-dates text-green-600 flex items-center justify-center"><strong>Registration starts on: </strong>15 March 2024</p>
            <p class="important-dates text-blue-600 flex items-center justify-center"><strong>Submission duration: </strong>1 April - 21 April 2024</p>
           <!-- <p class="important-dates"><strong>Hackathon start date : </strong>March 01, 2024 (tentative)</p> -->
            <!--<p class="important-dates"><strong>Problem Statement Announcement + Submission Opens: </strong>12th Nov</p>
            <p class="important-dates"><strong>Submission Closes:</strong> 28th Nov</p>
            <p class="important-dates"><strong>Result Declaration:</strong> 14th Dec</p>-->
           <!-- <a href="home#register"><button class="custom-btn btn-register" >Register</button> </a> -->
</div>
        </div>
      </div>
      <!-- <img class="lg:block" src={src} alt="" decoding="async" /> -->
      <img src="/src/assets/img/full_hero.png" alt="img">
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
