---


---


<div class="banner-content">
   <div id="top-logo-placeholder" class="container min-w-sm mx-auto sm:px-4">
       <div class="flex justify-center"> 
              <slot />
       </div>
   </div>
</div>
